@model DemoWebApi.Models.Product.ProductViewDetailModel

@{
    Layout = "_ProductPageLayout";
    ViewData["Title"] = @Model.Name;
}

<div>
    <h4>ProductViewDetailModel  - @ViewBag.Id</h4>
    <hr />
    <dl class="row">
    </dl>
</div>

<div class="container d-flex justify-content-center align-items-center">

    <div class="card">

        <span class="percent">-10%</span>
        <div class="card-image">

            <img src="https://i.imgur.com/jqfPp3X.png" width="250">

        </div>

        <div class="card-inner">

            <span>@Model.CategoryName</span>
            <h5 class="mb-0">@Model.Name</h5>

            <div class="price">
                <span>@Model.Price</span>
                <sup class="text-decoration-line-through">@Model.PriceSale</sup>
            </div>


            <div class="mt-3 d-flex justify-content-between align-items-center">


                <button class="btn btn-success text-uppercase btn-sm details">Details</button>


                <div class="d-flex flex-row">
                    <a asp-action="Index">
                        <span class="wishlist">
                            <i class="fa fa-heart">

                            </i>
                        </span>
                    </a>
                    <span class="cart"><i class="fa fa-shopping-cart"></i></span>

                </div>




            </div>


        </div>

    </div>



</div>
